html{
		scroll-behavior: smooth; 	

}

body{
	text-align: justify;
}

h2 {
	font-weight: 800;
}

h3 {
	font-weight: 700;
}

b {
	color: red;
}

#top{
	min-height: 100vh;
	background-image: url(https://www.mtlblog.com/u/2019/09/12/d0213bc0d5c50eb8d97bfea09b231884.jpg_1200x630.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text{
	padding-left: 5%;
	padding-top: 5%;
}

#poster{
	width:100%;
	max-width: 600px;
}

.container-fluid{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 3%;
	padding-right: 3%;
}

#why{
	font-size: 20px;
}